@font-face {
    font-family: Astral;
    src: url(https://flcorp.github.io/astrascan/font/Gallagher-Shadow.ttf);
}

*{
    text-decoration: none;
}

body{
    background-color: #000025;
    margin: 0;
    padding: 0;
}

header {
    background-color: #047c72;
    padding: 10px;
    position: fixed;
    border-radius: 0px 0px 20px 0px;
    z-index: 1000;
}
  
nav ul {
    list-style: none;
}
  
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
  
nav ul li a {
    color: #fff;
    font-size: 2em;
    font-family: Astral;
    font-weight: 1;
    text-decoration: underline;
    transition: 0.3s ease;
}
nav ul li a:hover{
    color: #fa4747;
}

.fake-header{
    background-color: #047c72;
    padding: 10px;
}

.top{
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #047c72, #000025);
}

.principal{
    text-align: center;
}

.principal h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.principal .strong-title{
    font-family: Astral;
    font-weight: 1;
    font-size: 2em;
}

.translations{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #6d5200;
}

.translations .covers{
    height: auto;
    width: auto;
    border-radius: 10px;
}

.translations .description{
    margin-left: 20px;
}

.translations .description h1{
    margin-top: 0px;
    color: #fff;
    font-family: Astral;
    font-weight: 1;
    font-size: 3em;
}

.translations .description p{
    color: #fff;
    font-family: Arial;
}

.chapters{
    background-color: #047c0a;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.chapters .chapters-title{
    height: 120px;
    width: auto;
}

.chapters h2{
    color: #fff;
    font-family: Astral;
    font-weight: 1;
    font-size: 4em;
    margin-top: 0px;
}

.chapters .volume{
    text-align: left;
}

.chapters .volume h1{
    color: #fff;
    font-family: Astral;
    font-weight: 1;
    font-size: 3em;
    margin-bottom: 0px;
}

.chapters .volume button{
    padding: 10px;
    color: #000000;
    background-color: #fff;
    border: 2px solid #1e1e1e;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s ease;
}

.chapters .volume button:hover{
    color: #fff;
    background-color: #1e1e1e;
    border-color: #fff;
    border-radius: 20px;
}

.contact{
    background-color: #1e1e1e;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.contact img{
    height: 120px;
    width: auto;
}

.contact h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.contact a{
    color: #fff;
    font-family: Arial;
    text-decoration: underline;
    transition: 0.4s ease;
}
.contact a:hover{
    color: #16c3a3;
}

footer{
    background-color: #000013;
    color: #fff;
    font-family: Arial;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width : 768px) {
    .top img{
        height: 120px;
        width: auto;
    }
    nav ul li a {
        font-size: 1.5em;
    }
    .translations .covers{
        height: 310px;
        width: 200px;
    }
    .chapters .chapters-title{
        height: 80px;
        width: auto;
    }
    .contact img{
        height: 80px;
        width: auto;
    }
}

@media screen and (max-width : 426px) {
    .top img{
        height: 70px;
        width: auto;
    }
    .translations{
        display: inherit;
        text-align: center;
    }
    .translations .covers{
        height: 270px;
        width: 180px;
    }
    .translations .description h1{
        font-size: 3em;
    }
    .translations .description p{
        font-size: 15px;
    }
    .chapters .chapters-title{
        height: 40px;
        width: auto;
    }
    .chapters .volume button{
        font-size: 0.7em;
    }
    .contact img{
        height: 40px;
        width: auto;
    }
}

@media screen and (max-width : 320px){
    .top img{
        height: 50px;
        width: auto;
    }
    .translations{
        display: inherit;
        text-align: center;
    }
    .translations .covers{
        height: 270px;
        width: 180px;
    }
    .translations .description h1{
        font-size: 2.5em;
    }
    .translations .description p{
        font-size: 15px;
    }
    .chapters .chapters-title{
        height: 40px;
        width: auto;
    }
    .chapters .volume button{
        font-size: 0.7em;
    }
}